
[moon]
instru1 = IH1510
instru2 = IF1510
spread_queue_size = 50
spread_ma_lower_boundary = 1.2
close_spread_lower_boundary = 0.6
max_wait_ticker_size = 500
delta_price = 0.0

log_cfg = ./log.cfg

[ctp_md]
flow_path = ./mdflow/
front_address = tcp://180.168.146.181:10210
broker_id = 0148
user_id = 00095
password = 888888


[ctp_trader]
flow_path = ./traderflow/
front_address = tcp://180.168.146.181:10200
broker_id = 0148
user_id = 00095
password = 888888
investor_id = 00095

